.navbar {
  background: #1d5234;
  height: 100px;
  width: 115%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  margin-left: 50px;
  background-color: #1d5234;
  font-size: 3rem;
  justify-content: flex-start;
}

.links {
  background: #1d5234;
}

@media screen and (max-width: 393px) {
  .title {
    font-size: 1rem;
  }
  .links {
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 725px) and (max-width: 1023px) {
  .title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 394px) and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }
  .links {
    margin: 0.2rem;
    margin-right: 50px;
    /* display: flex;
    flex-direction: column; */
  }
}
