.navbar {
  background: #1d5234;
  height: 100px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  background-color: #1d5234;
  justify-content: flex-start;
}

.links {
  background: #1d5234;
  font-size: 3rem;
  background: none;
  padding-left: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    width: 100%;
    display: flex;
  }
  .title {
    margin-left: 50px;
    font-size: 3rem;
  }
  .links {
    margin: 1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 667px) {
  .navbar {
    width: 100%;
    display: flex;
    align-self: stretch;
  }
  .title {
    margin-left: 30px;
    font-size: 2rem;
  }
  .links {
    margin: 0.1rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 667px) {
  .navbar {
    width: 100%;
    display: flex;
  }
  .title {
    margin-left: 20px;
    font-size: 1.2rem;
  }
  .links {
    margin: 0.1rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
  }
}
