@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Neonderthaw&display=swap");

* {
  background-color: #d9a032;
  color: white;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
}
